body {
    background-color: #dddddd;
}

.container {
    width: 800px;
    background-color: #FFFFFF;
    padding: 30px 150px 30px 50px;
    margin: 30px auto;
    border: 1px solid darkgray;
}

select.form-control {
    width: 200px;
}
textarea.form-control {
    resize: vertical;
}

.subtext {
    font-style: italic;
    font-weight: normal;
}

.top-buffer-sm {
    margin-top: 10px;
}
.top-buffer-md {
    margin-top: 20px;
}
.top-buffer-lg {
    margin-top: 30px;
}